


body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #d9d9d9;
    color: #001f3f;
}



header {
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #00b2b2;
}

header h1{
    color:#008cff;
    font-size: 24px;
    margin: 0;
}

.intro h2 {
    color: #ff006e;
    font-size: 24px;
    margin: 0;
}

section {
    margin: 30px auto;
    max-width: 850px;
    padding: 20px;
    background-color: #ececec ;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
}

section h3{
    color: #ff006e;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
}

section h4{
    color: #004aad;
    font-size: 16px;
    margin: 10px 0;
}

.location{
    color: #ff3399;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.destination1 img, .destination2 img, .destination3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0. 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

