


body {
    margin: 0;
    padding: 0;
    font-family: 'Verdana', sans-serif;
    background-color: #d9d9d9;
    color: #001f3f;
}



header {
    background-color: #d9d9d9;
    padding: 10px 20px;
    border-bottom: 2px solid #00b2b2;
    align-items: center;
    justify-content: center;
    display: flex;
    
}

header h1{
    color:#008cff;
    font-size: 40px;
    margin: 0;
    

}

.intro h2 {
    color: #000000;
    font-size: 24px;
    margin: 0;
    text-align: center;
}

section {
    margin: 30px auto;
    max-width: 850px;
    padding: 20px;
    background-color: #ececec ;
    box-shadow: 0 8px 15px rgba(0,0,0,0.1);
    border-radius: 15px;
}

section h3{
    color: #ff006e;
    font-size: 20px;
    margin-bottom: 5px;
    text-transform: capitalize;
    
}

section h4{
    color: #004aad;
    font-size: 16px;
    margin: 10px 0;
}

.location{
    color: #af2f6f;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
}

.destination1 img, .destination2 img, .destination3 img{
    width: 100%;
    max-width: 800px;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0. 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.destination1 img:hover, .destination2 img:hover, .destination3 img:hover{
    transform: scale(1.07);
    box-shadow: 0 12px 24px rgba(0, 0. 0, 0.3);
}

p{
    line-height: 1.5;
    font-size: 15px;
    color: #052b5e;
}

footer{
    background-color: #003366;
    color: white;
    text-align: center;
    padding: 10px 20px;
    font-size: 12px;
}

footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    flex-wrap: wrap;
    text-align: center;
}

footer-item{
    display: flex;
    align-items: center;
    gap: 6px;
}

.footer-item img{
width: 18px;
height: 18px;
vertical-align: middle;
}

form{
    max-width: 400px;
    background-color:#fefefed8;
    margin: 40px auto;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 6px, 12pc, 0.15);
    font-size: 14px;
    color: #003366;
}

form label{
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
}

form input{
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
    border: 1px, solid #ccc;
    border-radius: 10px;
}

.required{
    color: red;
    font-size: 10px;
    margin-bottom: 10px;
}

form input[type="submit"],
form button {
    background-color: #00d68f;
    color: white;
    padding: 8px 16px;
    margin-top: 10px;
    margin-right: 10px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;  
    justify-content: flex-start; 
    height: 300px; 
}

form input[type="submit"] {
    margin-top: auto;  
    background-color: #007755;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #00b273;
}